
<div class="container">
    <h1 class="mat-h1">Add New Recharge</h1>
    <form [formGroup]="rechargeForm" (ngSubmit)="onAddRecharge()">
        <select formControlName="operator">
          <option value="" disabled selected>Choose an operator</option>
          <option *ngFor="let operator of operators" [value]="operator.id" >
            {{operator.name}}
          </option>
        </select>
        <input placeholder="Value" formControlName="value">
        <select formControlName="seller">
          <option value="" disabled selected>Choose a seller</option>
          <option *ngFor="let seller of sellers" [value]="seller.id" >
            {{seller.firstName}} {{seller.LastName}}
          </option>
        </select>
        <input placeholder="Phone" formControlName="cellphone">
        <button mat-raised-button color="primary" type="submit">Add</button>
    </form>
    <h1 class="mat-h1">Recharges by operator</h1>
    <div class="mat-body-1" *ngFor="let operator of rechargesByOperator">
      <div class="mat-subheading-2">Name: {{ operator.name }}</div>
      <div class="mat-body-2">Total recharges: {{ operator.rechargesValues }}</div>
      <div class="mat-body-2">Quantity: {{ operator.quantity }}</div>
      <hr>
    </div>
    <h1 class="mat-h1">All recharges</h1>
    <div class="recharge-list">
        <div *ngFor="let recharge of recharges" class="recharge-card">
            <div class="recharge-card-header">
                <span class="recharge-operator">{{ recharge.operator.name }}</span>
                <span class="recharge-value">{{ recharge.value }}</span>
            </div>
            <div class="recharge-card-body">
                <p class="recharge-seller">Seller: {{ recharge.seller.firstName }} {{ recharge.seller.LastName }}</p>
                <p class="recharge-phone">cellphone: {{ recharge.cellphone }}</p>
            </div>
        </div>
    </div>
</div>
